@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  background: transparent;
  margin: 2rem;
}

.scrollbarfeature:hover::-webkit-scrollbar-thumb {
  background-color: rgb(181, 181, 181);
}


.border__loading{
	width: 100%;
	border-top: solid 2px rgb(255, 65, 65);
	animation: border_anim 0.5s linear forwards;
}

@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}